.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 70px;
  padding: 20px 0;
  background-color: #1f27f5;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  color: white;
}
