.product-wrapper {
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: antiquewhite;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
}

.price {
  align-content: end;
}
