.feedback-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
  height: 70px;
}

.feedback-container {
  display: flex;
  width: 100%;
  gap: 10px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 1px solid blue;
  border-radius: 4px;
  color: blue;
  width: 50%;
  height: 100%;
}
.button-wrapper {
  width: 100%;
}

.button-image {
  width: 23px;
  height: 23px;
  filter: invert(100%);
}

#reset-button {
  background-color: grey;
  cursor: pointer;
}

#reset-button:hover {
  background-color: rgb(93, 92, 92);
}
